@import "theme.css";
@import "header.css";
@import "section-home.css";
@import "about-me.css";
@import "references.css";
@import "prices.css";
@import "footer.css";
@import "gallery-category.css";
@import "gallery-btn-more.css";
@import "gallery-grid.css";
@import "burger.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    max-width: 1240px;
    margin: 0 auto;
    background-color: rgb(var(--bg));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

main {
    flex: 1;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}