.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 10px 40px;
}

.logo-letter {
    font-family: Jacques Francois;
    font-size: 48px;
    color: rgb(var(--text));
}

.logo-dotted {
    width: 10px;
    height: 10px;
    background-color: rgb(var(--text));
    border-radius: 50%;
}